/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: ;
   --backgr: ;
 }

/* Use your variables on elements */
 main {
   color: var();
   background-color: var();
 }
